body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.none {
  display: none !important;
}

.App {
  text-align: center;
  font-size: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5rem;
}

.App-header {
  background-color: #222;
  height: 9.375rem;
  padding: 1.25rem;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Article {
  background-color: #663300;
}

.Article__title {
  font-size: 1.5rem;
  color: #ffcc66;
  padding: 0.25rem;
}
